.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $size-md;
  margin: $size-md 0 0 0;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $size-md;

  &__input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 5%);
    color: $off-white;
    flex-grow: 1;
    margin-right: 0;
    margin-bottom: $size-sm;
    padding: $size-sm;
    outline: none;
  }
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;

    &__input {
      margin-right: $size-sm;
      margin-bottom: 0;
    }
  }
}