.header {
  background: $off-black;
  color: white;
  margin-bottom: $size-md;
  padding: $size-md 0;
}

.header__title {
  font-size: $size-lg;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $size-md;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $size-xl;
  }
}