.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.modal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $size-lg;
  text-align: center;

  &__title {
    margin: 0 0 $size-md 0;
  }

  &__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $size-lg 0;
    word-break: break-all;
  }
}