@import url('https://fonts.googleapis.com/css?family=Lato:400');

html {
  font-size: 62.5%;
}

body {
  background-color: $dark-blue;
  font-family: 'Lato', sans-serif;
  font-size: $size-md;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

input {
  padding: $size-sm;
}